h1{
  margin: 4rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 20px;
  color:  rgb(52, 52, 52);
  box-shadow: 0px 0px 20px 5px rgb(189, 189, 189);
}

.wrapper{
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem;
  padding: 2rem 0;
  width: calc((100% / 6 ) - 1rem);
  text-align: center;
  background-color: rgb(52, 52, 52);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgb(189, 189, 189);
}